<hr/>
<% comments.each do |comment| %>
  <% if comment.user == @current_user %>
    <form action="/comments/<%= comment.id %>/destroy" method="post">
      <p><%= comment.text %> -<a href="/users/<%= comment.user.id %>"><%= comment.user.name %></a> <%= comment.created_at.to_time.ago_in_words %>
      <button type="submit" class="btn btn-danger btn-mini confirm-delete">Delete Comment</button>
    </form></p>
  <% else %>
    <p><%= comment.text %> -<a href="/users/<%= comment.user.id %>"><%= comment.user.name %></a> <%= comment.created_at.to_time.ago_in_words %></p>
  <% end %>
<hr/>
<% end %>