<%= erb :_errors, :locals => {:model => @article } %>
<form action="/articles/<%= @article.id %>/update" method="post" enctype='multipart/form-data'>
  <input type="text" class="span3" name="title" placeholder="Title" value="<%= @article.title %>">
  <textarea rows="3" id="text" name="text"><%= @article.text %></textarea>
  <input name="taghash" class='taghash hidden' value='<%= @article.taghash.to_json %>'></input>
  <button type="submit" class="btn">Save</button>
</form>

<% if @article.is_a? Question %>
  Edit tags:
  <%= erb :_tags_form, :locals => {:article => @article} %>
<% end %>

<form action="/articles/<%= @article.id %>/destroy" method="post">
  <button type="submit" class="btn btn-danger confirm-delete">Delete</button>
</form>
