<%= erb :_errors, :locals => {:model => @article } %>
<form action="/articles/<%= @article.id %>/update" method="post" enctype='multipart/form-data'>
  <input type="text" class="span3" name="title" placeholder="Title" value="<%= @article.title %>">
  <textarea rows="3" id="text" name="text"><%= @article.text %></textarea>
  <input name="taghash" class='hidden taghash'></input>
  <button type="submit" class="btn">Save</button>
</form>

<% if @article.is_a? Question %>
<div style='width: 500px; border: 1px solid grey'>
  Edit tags:
  <%= erb :_tags_form, :locals => {:article => @article} %>
</div>
<% end %>

<form action="/articles/<%= @article.id %>/destroy" method="post">
  <button type="submit" class="btn btn-danger" onClick="confirm('Delete this article?');">Delete</button>
</form>
